body {
    background-color: lightblue;
    text-align: center;
}

h1 {
    color: white;
}

p {
    font-family: ariel, verdana;
    font-size: 20px;
    border: 2px solid blue;
    border-radius: 8px;
    margin: auto;
    width: 50%;
    padding: 10px;

}
img {
    width:800px;
    height:600px;
    
}